body {
  background-color: #f9f9f9;
  margin: 0;
  font-family: Arial, sans-serif;
}

.create-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.create-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2e7d32;
}

.create-container input,
.create-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}

.date-inputs {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}

.date-inputs label {
  flex: 1;
  font-size: 0.95em;
  color: #555;
}
.error-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}


.post-btn {
  background-color: #388e3c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.post-btn:hover {
  background-color: #2e7d32;
}
